footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    height: 200px;
    background-color: transparent;
    background-image: none;
}

main::-webkit-scrollbar-track {
    display: none;
}

main::-webkit-scrollbar {
    display: none;
}

main::-webkit-scrollbar-thumb {
    display: none;
}

main {
    overflow-y: hidden;
}