footer {
    position: unset;
    background-color: #0C585B;
    background-image: url(../assets/wavy-dark-by-nouridio.svg);
    background-size: 300%;
}

.mods {
    background-image: none;
    padding: 30px 50px 10px;
    min-height: auto;
}

.mods a {
    margin: 10px 3px 30px;
}