<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/now-ui-kit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <title>OE-O</title>
    <link rel="icon" href="https://oe-o.tk/img/Logo.png">
    <meta property="og:title" content="OE-O">
    <meta property="og:url" content="https://www.oe-o.tk" />
    <meta property="og:image" content="https://oe-o.tk/img/Logo.png" />
    <meta name="description" content="We make mods.">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152743784-3"></script>
    <script data-ad-client="ca-pub-4423104218850474" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="/js/oetils.js"></script>
    <script src="/js/gtag.js"></script>
    <audio id="AudioEasterEgg" src="/assets/easterEggSound.wav"></audio>
</head>

<body class="topbar-gradient">
    <div id="hellobar-bar" class="regular closable">
        <div class="hb-content-wrapper">
            <div class="hb-text-wrapper">
                <div class="hb-headline-text">
                    <p><span>Applications are now open! Apply now and collaborate!</span></p>
                </div>
            </div>
            <a href="https://oe-o.tk/apply" target="_blank" class="hb-cta hb-cta-button">
                <div class="hb-text-holder">
                    <p>Apply</p>
                </div>
            </a>
        </div>
        <div class="hb-close-wrapper">
            <a href="javascript:void(0);" class="icon-close" onclick="closeBar()">&#10006;</a>
        </div>
    </div>
    <div id="main-content">
        <nav class="navbar navbar-expand-lg bg-transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
            </button>
            <img onclick="easterEgg()" src="/assets/logeo.png" width="50" height="50">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/byq9QE6">Discord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/OE-O">GitHub</a>
                    </li>
                </ul>
                <div class="banner">
                    <div class="banner-content">

                    </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="apply">Apply</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/legal">Legal</a>
                </div>
            </div>
        </nav>
        <div class="heading">
            <h1 class="display-5 title" id="modtitle">Oh no...</h1>
            <p class="subtitle" id="shortdesc">We hit a roadblock...</p>
            <a class="btn btn-primary btn-lg" href="/" role="button" id="downloadAsZip">Go Home</a>
            <br><br><br><br>
        </div>
        <div class="features">
            <br><br>
        </div>  
    </div>
    <div class="page_end">
        <div class="start">
            <br><br>
        </div>
        <div class="footer">
            <div class="bot-footer">
                <img src="/assets/logeo.png" width="150"><br>
                Copyright © OE-O Modding | 2020
            </div><br>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="/js/now-ui-kit.min.js"></script>
    </div>
</body>

</html>