.img {
	width: 1.4em;
	height: 1.4em;
}

.text {
	margin: auto auto auto 1em;
	font: inherit;
	color: #ffffff;
}

.btn {
	display: flex;
	background-color: #006266;
	margin: auto;
}

.center {
	height: calc(100vh - 3rem);
	width: 100%;
	display: grid;
	place-content: center;
	background-color: #2c2f33;
}

.container {
	background-color: #006266;
}
