@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700&family=Poppins:ital,wght@0,300;0,500;0,600;1,600&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

main {
	overflow-y: auto;
	max-height: calc(100vh - 3rem);
	max-width: 100%;
}

h1 {
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 2.5rem;
	margin: 0;

	color: #edf0f1;
}

h2 {
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	margin: 0;

	color: #ad91ff;
}

p {
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 108%;

	color: #c4c4c4;
}

button {
	color: #ffffff;
	border-width: 2px;
	line-height: 1em;
	padding: 1rem 2.8rem;
	border: none;
	cursor: pointer;
	font-family: 'Noto Sans', sans-serif;
	border-radius: 8px;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-decoration: none;
}

@media screen and (max-width: 520px) {
	button {
		width: 100%;
		padding: 1rem 6rem;
	}
}
