.card {
	background: #23272a;
	border: 0.4rem solid #ad91ff;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 0.8rem;

	margin: 1rem clamp(1rem, 12%, 7rem);
}

.p {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 90%;
	margin-right: 4rem;

	color: #c4c4c4;
}

.title {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

@media screen and (max-width: 660px) {
	.title {
		flex-direction: column;
		align-items: start;
	}
}

.btn {
	background: #ad91ff;
	color: #23272a;
}

.edit {
}

.success {
}

.danger {
}
